/* Common Fonts import */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;1,500&display=swap');

.picRight2{
    margin-bottom: 40px;
}
.picRight{
margin-bottom: 80px;
}



/* HEADER */
header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
    padding: 35px 100px 0;
}

header h2 {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}
header h3 {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
header nav {
    display: flex;
}

header nav li {
    margin: 0 15px;
}

header nav li:first-child {
    margin-left: 0;
}

header nav li:last-child {
    margin-right: 0;
}

@media (max-width: 1000px) {
    header {
        padding: 20px 50px;
    }
}

@media (max-width: 700px) {
    header {
        flex-direction: column;
    }

    header h2 {
        margin-bottom: 15px;
    }
}

/* General Common Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: normal 16px sans-serif;
    color: #555;
    scroll-behavior: smooth !important;
}

ul, nav {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    opacity: 0.9;

}

a:hover {
    opacity: 1;
}
a.btn2 {
    margin-top: 50px;
    height:30px;
    width:190px;
    color: #fff;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: #216555;
    font-weight: 800;
    text-align: center;

}


a.btn {
    height:86px;
    width:220px;
    color: #fff;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: #14303a;
    font-weight: 800;
    text-align: center;
}

a.btn3 {
    height:70px;
    width:180px;
    color: #fff;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: #106580;
    font-weight: 800;
    text-align: center;
    margin-left: 10px;

}

hr {
    width: 300px;
    height: 2px;
    background-color: #14303a;
    border: 0;
    margin-bottom: 80px;
}


/* Section Common Styles */

section1 {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding: 125px 100px;
}


section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 125px 100px;
}

@media (max-width: 1000px) {
    section {
        padding: 100px 50px;
    }

}

@media (max-width: 600px) {
    section {
        padding: 80px 30px;
    }
}

section h3.title {
    color: #414a4f;
    text-transform: capitalize;
    font: bold 32px 'Montserrat', sans-serif;
    margin-bottom: 35px;
    margin-left: 458px;
    text-align: center;
}
section h3.title2 {
    color: #414a4f;
    text-transform: capitalize;
    font: bold 32px 'Montserrat', sans-serif;
    margin-bottom: 35px;

    text-align: center;
}
section h3.titleX {
    color: #ffffff;
    text-transform: capitalize;
    font: bold 32px 'Montserrat', sans-serif;
    margin-bottom: 35px;
    text-align: center;
}
section h3.title3 {
    color: #414a4f;
    text-transform: capitalize;
    font: bold 20px 'Montserrat', sans-serif;
    margin-bottom: 20px;
    margin-left: 130px;
    text-align: center;
}
section h3.title4 {
    color: #414a4f;
    text-transform: capitalize;
    font: bold 20px 'Montserrat', sans-serif;
    margin-bottom: 20px;
    text-align: center;
}
section h3.title5 {
    color: #414a4f;
    text-transform: capitalize;
    font: bold 20px 'Montserrat', sans-serif;
    margin-bottom: 20px;
    margin-left: 600px;
    text-align: center;
}


section p {
    max-width: 1000px;
    text-align: center;
    margin-bottom: 35px;
    padding: 0 20px;
    line-height: 2;
}



ul.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul.grid2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}



/* Seccion Hero */

.hero {
    position: relative;
    justify-content: left;
    min-height: 100vh;
    color: #000000;
    text-align: left;
}

.hero .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: #2196F3;
    z-index: -1;
}


.hero h1 {
    font: bold 50px 'Montserrat';
    margin-bottom: 60px;
    text-align: left;
}

.hero h3 {
    font: normal 22px 'Montserrat';
    margin-bottom: 40px;
    text-align: left;
}

.hero a.btn {
    padding: 20px 46px;
}

@media (max-width: 800px) {

    .hero {
        min-height: 600px;
    }

    .hero h1 {
        font-size: 48px;
    }

    .hero h3 {
        font-size: 24px;
    }

    .hero a.btn {
        padding: 15px 40px;
    }

}

/* Seccion Caracteristicas */

.caracteristicas {
    background-color: #F7F7F7;

}

.caracteristicas .grid li {
    padding: 0 30px;
    flex-basis: 33%;
    text-align: center;
}

.caracteristicas .grid li i {
    font-size: 50px;
    color: #14303a;
    margin-bottom: 25px;
}

.caracteristicas .grid li h4 {
    color: #555;
    font-size: 20px;
    margin-bottom: 25px;
    justify-content: center;
}

.caracteristicas .grid li p {
    margin: 0;
}

@media (max-width: 1000px) {
    .caracteristicas .grid li {
        flex-basis: 70%;
        margin-bottom: 65px;
    }
    .caracteristicas .grid li:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 600px) {
    .caracteristicas .grid li {
        flex-basis: 100%;
    }
}


/*Sección Funcionalidades*/
.funcionalidades {
    background-color: #d5e5ea;

}

.funcionalidades .grid li {
    padding: 0 30px;
    flex-basis: 33%;
    text-align: center;
}

.funcionalidades .grid li i {
    font-size: 50px;
    color: #14303a;
    margin-bottom: 25px;
}

.funcionalidades .grid li h4 {
    color: #555;
    font-size: 20px;
    margin-bottom: 25px;
    justify-content: center;
}

.funcionalidades .grid li p {
    margin: 0;
}

@media (max-width: 1000px) {
    .funcionalidades .grid li {
        flex-basis: 70%;
        margin-bottom: 65px;
    }
    .funcionalidades .grid li:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 600px) {
    .funcionalidades .grid li {
        flex-basis: 100%;
    }
}

/*Sección Funcionalidades EASYJOBS X*/
.funcionalidadesX {
    background-color: #456e85;

}

.funcionalidadesX .grid li {
    padding: 0 30px;
    flex-basis: 33%;
    text-align: center;
}

.funcionalidadesX .grid li i {
    font-size: 50px;
    color: #14303a;
    margin-bottom: 25px;
}

.funcionalidadesX .grid li h4 {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 25px;
    justify-content: center;
}

.funcionalidadesX .grid li p {
    margin: 0;
    color:#ffffff;
}

@media (max-width: 1000px) {
    .funcionalidadesX .grid li {
        flex-basis: 70%;
        margin-bottom: 65px;
    }
    .funcionalidadesX .grid li:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 600px) {
    .funcionalidadesX .grid li {
        flex-basis: 100%;
    }
}




/* Seccion Nosotros */

.nosotros {
    background-color: #fff;
}

.nosotros .grid li {

    padding: 20px;
    margin-left: 100px;
    height: 300px;
    width: 60px;
    border-radius: 10px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
    background-color: #333;
}

.nosotros .grid li.small {
    flex-basis: 10%;
}

.nosotros .grid li.large {
    flex-basis: 60%;
}

@media (max-width: 1000px) {
    .nosotros .grid li.small,
    .nosotros .grid li.larg {
        flex-basis: 100%;
    }
}


/* Contactanos*/

.contact {
    background-color: #ece9e9;
}

.contact form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    width: 80%;
}

.contact form input {
    padding: 15px;
    flex: 1;
    margin-right: 30px;
    font-size: 18px;
    color: #555;
}

.contact form .btn {
    padding: 10px 20px;
}


/* Footer Section */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    background-color: #456e85;
    padding: 60px 0;
}

footer ul {
    display: flex;
    margin-bottom: 25px;
    font-size: 32px;
}

footer ul li {
    margin: 0 8px;
}

footer ul li:first-child {
    margin-left: 0;
}

footer ul li:last-child {
    margin-right: 0;
}

footer p {
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 10px;
}

footer p a {
    color: #FFF;
}

@media (max-width: 700px) {
    footer {
        padding: 80px 15px;
    }
}
